/* Day: */
background: #7EC0EE;
border: 1px solid #979797;
/* Water: */
background: #1C6BA0;
/* Combined Shape: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 5: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 6: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 2: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 7: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 3: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 8: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 4: */
background: #D0021B;
border: 1px solid #979797;
/* Combined Shape Copy 9: */
background: #D0021B;
border: 1px solid #979797;
/* Rectangle 2: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Rectangle 2 Copy 2: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Rectangle 2 Copy: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Rectangle 5: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Rectangle 2 Copy 3: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Rectangle 3: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Rectangle 5 Copy: */
background: #D0021B;
border: 1px solid #FFFFFF;
/* Path 2: */
border: 5px solid #979797;
/* Path 2 Copy: */
border: 5px solid #979797;
/* Rectangle 8 Copy 10: */
background: #FFFFFF;
/* Rectangle 8 Copy: */
background: #FFFFFF;
/* Rectangle 8 Copy 3: */
background: #FFFFFF;
/* Rectangle 8 Copy 5: */
background: #FFFFFF;
/* Rectangle 8 Copy 7: */
background: #FFFFFF;
/* Rectangle 8: */
background: #FFFFFF;
/* Rectangle 8 Copy 2: */
background: #FFFFFF;
/* Rectangle 8 Copy 4: */
background: #FFFFFF;
/* Rectangle 8 Copy 6: */
background: #FFFFFF;
/* Rectangle 8 Copy 8: */
background: #FFFFFF;
/* Rectangle 8 Copy 9: */
background: #FFFFFF;
/* Rectangle 8 Copy 11: */
background: #FFFFFF;
/* Rectangle 8 Copy 36: */
background: #FFFFFF;
/* Rectangle 8 Copy 37: */
background: #FFFFFF;
/* Rectangle 8 Copy 35: */
background: #FFFFFF;
/* Rectangle 8 Copy 34: */
background: #FFFFFF;
/* Rectangle 8 Copy 33: */
background: #FFFFFF;
/* Rectangle 8 Copy 32: */
background: #FFFFFF;
/* Rectangle 8 Copy 31: */
background: #FFFFFF;
/* Rectangle 8 Copy 30: */
background: #FFFFFF;
/* Rectangle 8 Copy 29: */
background: #FFFFFF;
/* Rectangle 8 Copy 28: */
background: #FFFFFF;
/* Rectangle 8 Copy 27: */
background: #FFFFFF;
/* Rectangle 8 Copy 26: */
background: #FFFFFF;
/* Rectangle 8 Copy 25: */
background: #FFFFFF;
/* Rectangle 8 Copy 24: */
background: #FFFFFF;
/* Rectangle 8 Copy 23: */
background: #FFFFFF;
/* Rectangle 8 Copy 22: */
background: #FFFFFF;
/* Rectangle 8 Copy 21: */
background: #FFFFFF;
/* Rectangle 8 Copy 20: */
background: #FFFFFF;
/* Rectangle 8 Copy 19: */
background: #FFFFFF;
/* Rectangle 8 Copy 18: */
background: #FFFFFF;
/* Rectangle 8 Copy 17: */
background: #FFFFFF;
/* Rectangle 8 Copy 16: */
background: #FFFFFF;
/* Rectangle 8 Copy 15: */
background: #FFFFFF;
/* Rectangle 8 Copy 14: */
background: #FFFFFF;
/* Rectangle 8 Copy 13: */
background: #FFFFFF;
/* Rectangle 8 Copy 12: */
background: #FFFFFF;
/* Water_2: */
background: #1C6BA0;
